@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient-blue: linear-gradient(151.17deg, #26c2b9 8.69%, #288be7 126.06%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #fff;
  /* background: var(--background); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom CSS for Infinite Running Text Effect */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Apply the animation */
.animate-marquee {
  animation: marquee 20s linear infinite;
}
